.child {
  background-color: #eeeeee;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  border-bottom-left-radius: 35px;
  z-index: 0;
  
}
.parent {
  background-color: #166ADC; /* 부모 요소의 배경색을 빨간색으로 설정 */
}

.main_logo_img {
  height: 90%;
}

.login_container {
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: 800;
}

.login_container p {
  margin: 0px;
}

.login_container a {
  color: black;
}
